// Main sass file for Buda Zoekt

// General
@import 'partials/reset';
@import 'partials/config';

// Mixins
@import 'partials/mixins/util';
@import 'partials/mixins/bem';
@import 'partials/mixins/typography';

// Layout
@import 'partials/general';
@import 'partials/fonts';

// Atoms
@import 'partials/atoms/title';
@import 'partials/atoms/logo';
@import 'partials/atoms/slider';
@import 'partials/atoms/hamburger';
@import 'partials/atoms/intro';
@import 'partials/atoms/wysiwyg';
@import 'partials/atoms/nav-item';
@import 'partials/atoms/close-button';
@import 'partials/atoms/link-button';
@import 'partials/atoms/button';
@import 'partials/atoms/quote';
@import 'partials/atoms/photo';
@import 'partials/atoms/loader';
@import 'partials/atoms/cta';

// Molecules
@import 'partials/molecules/article';
@import 'partials/molecules/logo-slider';
@import 'partials/molecules/text-block';
@import 'partials/molecules/nav';
@import 'partials/molecules/page-nav';
@import 'partials/molecules/two-col';
@import 'partials/molecules/photo-grid';
@import 'partials/molecules/photo-item';
@import 'partials/molecules/data-list';
@import 'partials/molecules/landing';
@import 'partials/molecules/project-index';
@import 'partials/molecules/project-item';
@import 'partials/molecules/overlay';
@import 'partials/molecules/modal';
@import 'partials/molecules/slideshow';
@import 'partials/molecules/project-list';

// Organisms
@import 'partials/organisms/page';
@import 'partials/organisms/layout';
