@font-face
{
    font-family: 'Skrappa Roman';
    src: url('../fonts/skrappa-roman.woff2') format('woff2'), url('../fonts/skrappa-roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Apoc';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/apoc-italic.woff2') format('woff2'), url('../fonts/apoc-italic.woff') format('woff');
}

@font-face
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/inter-medium.woff2') format('woff2');
}

@font-face
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inter-bold.woff2') format('woff2');
}
