@include block(close-button)
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: $rule * 1.5;
    height: $rule * 1.5;
    border-radius: 50%;
    background-color: $color02;
    box-shadow: 0 0 0 0 $color02;
    transition: all .25s;

    @include global-modifier(open)
    {
        background-color: $color01;
        box-shadow: 0 0 $rule / 2 $rule $color01;
        transition: all .35s;
        transition-delay: 1s;
    }
}

@for $i from 1 through length($theme-colors)
{
    body.theme-#{$i}.open .close-button
    {
        background-color: nth($theme-colors, $i);
        box-shadow: 0 0 $rule / 2 $rule nth($theme-colors, $i);

        &:hover
        {
            box-shadow: 0 0 $rule / 1.25 $rule * 1.25 nth($theme-colors, $i);
            transition-delay: 0s;
        }
    }
}
