@include block(link-button)
{
    @include type-4;
    line-height: 1.25;
    display: inline-flex;
    align-items: center;
    position: relative;
    cursor: pointer;

    &:after
    {
        display: block;
        content: '';
        width: 100%;
        height: $border-width-01;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $color02;
        opacity: 0;
        transition: transform .25s $ease-out-squad, opacity 1s;
        transform: scaleX(0);
        transform-origin: 0 0;
    }

    &:hover:after
    {
        opacity: 1;
        transform: scaleX(1);
        transform-origin: 0 0;
    }

    @include element(icon)
    {
        display: flex;
        align-items: center;
        justify-content: center;
        width: $rule / 1.5;
        height: $rule / 1.5;

        @include modifier(before)
        {
            margin-right: $rule / 2;
        }

        @include modifier(after)
        {
            margin-left: $rule / 2;
        }

        svg
        {
            display: block;
            width: 100%;
            height: auto;
        }
    }
}
