@include block(loader)
{
    position: fixed;
    width: 100%;
    height: 100%;
    padding-left: $side-width;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    transition: opacity .15s;

    @include element(inner)
    {
        display: block;
        width: $rule * 10;
        height: $rule * 10;
        background-image: url('../../img/loader.gif');
        background-size: contain;
        background-repeat: no-repeat;
        transform: scale(.4);
        transition: transform .4s;

        @include global-modifier(loading)
        {
            transform: scale(1);
        }
    }

    @include global-modifier(loading)
    {
        opacity: 1;
    }
}
