@include block(slider)
{
    position: relative;
    width: 100%;
    height: $rule / 3;
    background-color: $color02;
    border-radius: $rule / 2;

    @include element(knob)
    {
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -$rule / 2;
        margin-left: -$rule / 2;
        display: block;
        width: $rule;
        height: $rule;
        border-radius: 50%;
        background-color: $color02;
        cursor: move;
    }
}
