@include block(title)
{
    @include type-1;
    text-align: center;

    @include modifier(medium)
    {
        @include type-5;
        text-align: left;
    }

    @include element(offset)
    {
        @include breakpoint(2)
        {
            margin-right: $rule * 1.25;
        }
    }
}
