@include block(layout)
{
    $side-width: $rule * 2.5;

    width: 100%;
    min-height: 100vh;
    padding-left: $side-width;

    @include element(side)
    {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        width: $side-width;
        height: 100%;
        padding-top: $rule * 2;

        @include global-modifier(alt)
        {
            background-color: $color02;
        }
    }

    @include element(nav)
    {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        height: 100vh;
        width: 100vw;
        background-color: $color02;
        transform: translateX(-100%);
        will-change: transform;
        transition: transform .65s $ease-out-squad;

        @include global-modifier(open)
        {
            transform: translateX(0);
        }
    }

    @include element(nav-wrap)
    {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @include element(close)
    {
        position: absolute;
        top: $rule * 3;
        right: $rule * 4;
    }
}
