@include block(page)
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $rule;
    transition: opacity 400ms;


    @include breakpoint(3)
    {
        padding: $rule * 2;
        padding-bottom: $rule;
    }

    @include element(head)
    {
        width: 100%;
        text-align: right;
        @include type-4;
        margin-bottom: $rule * 2;

        @include breakpoint(2)
        {
            margin-bottom: $rule;
        }
    }

    @include element(body)
    {
        width: 100%;
    }

    @include element(foot)
    {
        width: 100%;
        margin-top: $rule * 4;
    }

    @include global-modifier(loading)
    {
        opacity: 0;
    }
}
