@include block(article)
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @include element(header)
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: $rule * 3;
    }

    @include element(title)
    {
        width: 100%;
        margin-bottom: $rule * 2;

        @include breakpoint(2)
        {
            width: 61%;
        }
    }

    @include element(intro)
    {
        width: 100%;

        @include breakpoint(2)
        {
            width: 55%;
        }
    }

    @include element(section)
    {
        width: 100%;
        margin-bottom: $rule * 3;

        @include breakpoint(2)
        {
            width: 55%;
        }

        &:last-child
        {
            margin-bottom: 0;
        }

        @include modifier(wide)
        {
            @include breakpoint(2)
            {
                width: 80%;
            }
        }

        @include modifier(small)
        {
            @include breakpoint(2)
            {
                width: 46%;
            }
        }
    }
}
