@include block(nav)
{
    @include element(list)
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @include element(item)
    {
        margin-bottom: $rule * 1.25;
        opacity: 0;
        transform: translateX(-$rule*3);
        transition: opacity .25s, transform .35s;

        &:last-child
        {
            margin-bottom: 0;
        }

        @include global-modifier(open)
        {
            opacity: 1;
            transform: translateX(0);
            transition: opacity .5s, transform .75s;

            @for $i from 0 through 10
            {
                &:nth-child(#{$i})
                {
                    transition-delay: 150+(100+$i*200ms);
                }
            }
        }
    }
}
