@include block(overlay)
{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color01, .85);
    opacity: 0;
    pointer-events: none;
    transition: opacity .25s;

    @include breakpoint(2)
    {
        left: $side-width;
    }

    @include element(content)
    {
        width: 90%;
        transform: scale(1.25);
        transition: transform 3s;

        @include breakpoint(2)
        {
            width: 50%;
        }

        @include global-modifier(open-overlay)
        {
            transform: scale(1);
            transition: transform .25s $ease-out-squad;
        }
    }

    @for $i from 1 through length($theme-colors)
    {
        @include global-modifier(theme-#{$i})
        {
            background-color: rgba(nth($theme-colors, $i), .95);
        }
    }

    @include global-modifier(open-overlay)
    {
        opacity: 1;
        transition: opacity .5s $ease-out-squad;
        pointer-events: all;
    }
}
