@include block(page-nav)
{
    display: flex;
    width: 100%;

    @include element(prev)
    {
        display: flex;
        justify-content: flex-start;
        width: 33.33%;
    }

    @include element(index)
    {
        display: flex;
        justify-content: center;
        width: 33.33%;
    }

    @include element(next)
    {
        display: flex;
        justify-content: flex-end;
        width: 33.33%;
    }
}
