@include block(slideshow)
{
    position: relative;
    display: block;
    width: 100%;

    @include element(cover)
    {
        position: relative;
        z-index: 1;
        display: block;
        width: 100%;
    }

    @include element(item)
    {
        position: absolute;
        top: 0;
        display: block;

        @include modifier(active)
        {
            z-index: 2;
        }
    }
}
