@include block(text-block)
{
    @include element(title)
    {
        margin-bottom: $rule * 1.5;
    }

    @include element(content)
    {
        //
    }

    @include element(foot)
    {
        margin-top: $rule;
    }
}
